.row {
    margin-top: 50px;
}



#post_theme a{
    color:black;
    border: 1px solid #fc328a;
    background-color: #fc328a;
    font-size: 18px;
    padding: 10px 15px;
}

.noClasses {
    color: black
}

.container-test{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.row{
    justify-content: center;
}

.news {
    display: flex;
    justify-content: center;
}

